<h1 class="ui header">Scripts</h1>

<% if @scripts.blank? %>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="file code outline icon"></i>
      No scripts are listed.
    </div>
    <div class="ui primary button">Tutorial - Add Script</div>
  </div>
<% else %>
  <div class="ui relaxed divided list">
  <% @scripts.each do |script| %>
    <div class="item">
      <div class="content">
        <%= link_to "#{scripts_path}##{script.name}", class: "header" do %>
          <div class="ui horizontal label">#<%= script.name %></div>
          <%= script.title %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<h1 class="ui header">Histories</h1>
<div class="ui cards flex-column">
  <% if @actions.blank? %>
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="calendar alternate outline icon"></i>
        No action has been taken yet
      </div>
    </div>
  <% else %>
    <% @actions.each do |action| %>
      <div class="ui card w-full">
        <div class="content">
        <div class="header">example@gmail.com</div>
        <div class="meta">updated <b>User#1</b> 2 days ago</div>
        <div class="description">
          <pre class="bg-neutral-300 rounded p-4">
            {'name' => ['bill', 'bob']}
          </pre>
        </div>
        </div>
        <div class="extra content">
          <button class="ui labeled icon button red">
            <i class="undo icon"></i>
            Undo
          </button>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- model update -->
  <div class="ui card w-full">
    <div class="content">
      <div class="header">example@gmail.com</div>
      <div class="meta">updated <b>User#1</b> 2 days ago</div>
      <div class="description">
        <pre class="bg-neutral-300 rounded p-4">
                { 'name' => ['bill', 'bob'] }
              </pre
        >
      </div>
    </div>
    <div class="extra content">
      <button class="ui labeled icon button red">
        <i class="undo icon"></i>
        Undo
      </button>
    </div>
  </div>

  <!-- script update -->
  <div class="ui card w-full">
    <div class="content">
      <div class="header">example@gmail.com</div>
      <div class="meta">Used script <b>Thay đổi deadline</b> 5 minutes ago</div>
      <div class="description"></div>
    </div>
    <div class="extra content">
      <button class="ui labeled icon button red">
        <i class="undo icon"></i>
        Undo
      </button>

      <button class="ui labeled icon button" disabled>
        <i class="undo icon"></i>
        Undo
      </button>
    </div>
  </div>
</div>
